<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.swinton</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>33CCF504-4AF1-410C-AAEB-F95EB69C0D7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71A73907-BF98-41E9-BFB7-C9098BF1EF99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E008ABD-D866-496B-AC21-6F7594B49F3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FAF7E02-722B-4D02-BDE6-F678BDC782AB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open repo in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33CCF504-4AF1-410C-AAEB-F95EB69C0D7E</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>91445665-0FB2-4B47-8397-FB3BF6195EF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>441066C1-51E7-458E-8F24-F820583393B5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ABDB9125-7A82-487B-AAF5-958284C172B6</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open a new issue</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>441066C1-51E7-458E-8F24-F820583393B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C160833F-D4B7-433C-AC05-06743EC269AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71A73907-BF98-41E9-BFB7-C9098BF1EF99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>632BAF0F-542F-4E0A-AE27-C8345E8A9789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4B7C6E63-80D4-4CEE-B1A6-EE01FA4674CD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy URL to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91445665-0FB2-4B47-8397-FB3BF6195EF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71A73907-BF98-41E9-BFB7-C9098BF1EF99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FAF7E02-722B-4D02-BDE6-F678BDC782AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>883F42E1-335B-4898-9552-4F1111E58C98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ABDB9125-7A82-487B-AAF5-958284C172B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFF13D5A-3038-482B-8A52-F3B7B8C574AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>883F42E1-335B-4898-9552-4F1111E58C98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://github.com/{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9FAF7E02-722B-4D02-BDE6-F678BDC782AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>PATH=$PATH:$MY_PATH

# Allow owner/repo syntax
if [[ "$@" =~ ^.+\/.+$ ]]; then
  IFS='/' read -a argv &lt;&lt;&lt; "$@"
  owner="${argv[0]}"
  query="${argv[1]}"
else
  owner="github"
  query="$@"
fi

curl \
    --get \
    --data-urlencode "q=${query} in:name org:${owner}" \
    --data-urlencode "type=Repositories" \
    --header "authorization: token $GITHUB_TOKEN" \
    --url https://api.github.com/search/repositories | \
jq '{items: [.items[] | {uid: .url, title: .name, subtitle: .description, arg: .full_name}]}'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Either in the GitHub organization, or elsewhere</string>
				<key>title</key>
				<string>Go to a GitHub repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3E008ABD-D866-496B-AC21-6F7594B49F3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>33CCF504-4AF1-410C-AAEB-F95EB69C0D7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>search</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>PATH=$PATH:$MY_PATH

query="$@"

curl \
    --get \
    --data-urlencode "q=${query} repo:${repo} in:title type:issue" \
    --header "authorization: token $GITHUB_TOKEN" \
    --url https://api.github.com/search/issues | \
jq '{items: [.items[] | {uid: .url, title: .title, subtitle: ( if .state == "open" then "✅" else "❌" end +  " #" + (.number | tostring)), arg: .html_url}]}'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Go to an issue in the repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71A73907-BF98-41E9-BFB7-C9098BF1EF99</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>632BAF0F-542F-4E0A-AE27-C8345E8A9789</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>91445665-0FB2-4B47-8397-FB3BF6195EF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4B7C6E63-80D4-4CEE-B1A6-EE01FA4674CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C160833F-D4B7-433C-AC05-06743EC269AF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://github.com/{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>441066C1-51E7-458E-8F24-F820583393B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AFF13D5A-3038-482B-8A52-F3B7B8C574AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://github.com/{query}/issues/new</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ABDB9125-7A82-487B-AAF5-958284C172B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Utilities for working with GitHub repositories:

1. Navigate to a reposotiry, either in the GitHub organization (the default), or elsewhere
2. Navigate to the new issue page for a repository
2. Search for, and navigate to issues in a repository
3. Copy URLs to repositories, or issues</string>
	<key>uidata</key>
	<dict>
		<key>33CCF504-4AF1-410C-AAEB-F95EB69C0D7E</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>3E008ABD-D866-496B-AC21-6F7594B49F3E</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>441066C1-51E7-458E-8F24-F820583393B5</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>4B7C6E63-80D4-4CEE-B1A6-EE01FA4674CD</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>632BAF0F-542F-4E0A-AE27-C8345E8A9789</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>71A73907-BF98-41E9-BFB7-C9098BF1EF99</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>883F42E1-335B-4898-9552-4F1111E58C98</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>91445665-0FB2-4B47-8397-FB3BF6195EF4</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>9FAF7E02-722B-4D02-BDE6-F678BDC782AB</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>ABDB9125-7A82-487B-AAF5-958284C172B6</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>AFF13D5A-3038-482B-8A52-F3B7B8C574AD</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>C160833F-D4B7-433C-AC05-06743EC269AF</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>GITHUB_TOKEN</key>
		<string></string>
		<key>MY_PATH</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GITHUB_TOKEN</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
